body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#clock-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('/assets/images/clouds-bg-1.png');

  background-color: #87ceeb;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}