body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#clock-wrapper {
  width: 100vw;
  height: 100vh;
  background: url('/assets/images/clouds-bg-1.png');

  background-color: #87ceeb;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}